@model UsuarioLogin
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login";
}


@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>        
            @TempData["MensagemErro"]
    </div>     
}
<div class="container">
    <div class="logo">SG HOTEL</div>
    <div class="login-item">
      <form asp-controller="Login" asp-action="Entrar" method="post" class="form form-login">
        <div class="form-field">
          <label class="user" for="Usuario"><span class="hidden">Usuario</span></label>
          <input id="login-username" type="text" class="form-input" asp-for="Usuario" placeholder="Usuario" required>
        </div>

        <div class="form-field">
          <label class="lock" for="Senha"><span class="hidden">Senha</span></label>
          <input id="login-password" type="password" class="form-input" asp-for="Senha" placeholder="Senha" required>
        </div>

        <div class="form-field">
          <input type="submit" value="Entrar">
        </div>
      </form>
    </div>
</div>